<!DOCTYPE html>
<html lang="en">
<head>

    @{
        ViewBag.Title = "Index";
    }



    @*<script src="~/Scripts/jquery-1.8.2.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/animate.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/lightbox.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link id="css-preset" href="~/css/presets/preset3.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
      <![endif]-->



    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="images/favicon.ico">


</head><!--/head-->
<body>

    <!--.preloader-->
    <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
    <!--/.preloader-->
    <header id="home">

        <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active" style="background-image: url(images/slider/1.jpg)">
                    <div class="caption">
                        <h1 class="animated fadeInLeftBig">Welcome to <span>Oxygen</span></h1>
                        <p class="animated fadeInRightBig">Bootstrap - Responsive Design - Retina Ready - Parallax</p>
                        <a data-scroll class="btn btn-start animated fadeInUpBig" href="#clinica">Start now</a>
                    </div>
                </div>
                <div class="item" style="background-image: url(images/slider/2.jpg)">
                    <div class="caption">
                        <h1 class="animated fadeInLeftBig">Say Hello to <span>Oxygen</span></h1>
                        <p class="animated fadeInRightBig">Bootstrap - Responsive Design - Retina Ready - Parallax</p>
                        <a data-scroll class="btn btn-start animated fadeInUpBig" href="#clinica">Start now</a>
                    </div>
                </div>
                <div class="item" style="background-image: url(images/slider/3.jpg)">
                    <div class="caption">
                        <h1 class="animated fadeInLeftBig">We are <span>Creative</span></h1>
                        <p class="animated fadeInRightBig">Bootstrap - Responsive Design - Retina Ready - Parallax</p>
                        <a data-scroll class="btn btn-start animated fadeInUpBig" href="#clinica">Start now</a>
                    </div>
                </div>
            </div>
            <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
            <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>
            <a id="tohash" href="#clinica"><i class="fa fa-angle-down"></i></a>
        </div><!--/#home-slider-->
        <div class="main-nav">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <h1><img class="img-responsive" src="images/logo.png" alt="logo"></h1>
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="scroll active"><a href="#home">Home</a></li>
                        <li class="scroll"><a href="#clinica">Clínica</a></li>
                        <li class="scroll"><a href="#depoimento">Depoimentos</a></li>
                        <li class="scroll"><a href="#servicos">Serviços</a></li>
                        <li class="scroll"><a href="#contato">Contato</a></li>


                    </ul>
                </div>
            </div>
        </div>
    </header><!--/#home-->
    
    <section id="clinica">
        @{Html.RenderAction("Index", "Clinica");}
    </section>

    <section id="depoimento">
        @{Html.RenderAction("Index", "Depoimentos");}
    </section>

    <section id="servicos">
        @*@{Html.RenderAction("Index", "Servicos");}*@
    </section>

    <section id="contato">
        @*@{Html.RenderAction("Index", "Contato");}*@
    </section>




    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    @*<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>*@
    <script type="text/javascript" src="js/jquery.inview.min.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/mousescroll.js"></script>
    <script type="text/javascript" src="js/smoothscroll.js"></script>
    <script type="text/javascript" src="js/jquery.countTo.js"></script>
    <script type="text/javascript" src="js/lightbox.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script>
        var map;
        var latitude = $('#map').data('latitude')
        var longitude = $('#map').data('longitude')
        function initMap() {

            console.log('latitude', latitude);
            console.log('longitude', longitude);

            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: latitude, lng: longitude },
                zoom: 19
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDs2sWvUNj76Tp9IPFtf9mWsiZ_B-rVbFk&callback=initMap">
    </script>
</body>
</html>